<div class="box shadoww" style="padding: 20px; margin-top: 20px;" > 
  <div class="reset-top">

    <h5 >Enter new password</h5>
    <div class="alert alert-danger" *ngIf="alertDanger">
      <p>Invalid password request token</p>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
    <div class="form-group">
      <input type="password" id="password" class="form-control" name="password" placeholder="Password" #password="ngModel"
        ngModel required>
      <div class="invalid-input" *ngIf="password.invalid && (password.touched)">
        <span *ngIf="password.errors.required" style="color: red;" >
          Password is required.
        </span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
       placeholder="Confirm password" #confirmPassword="ngModel" ngModel required maxlength="30" (input) = "CheckPw($event.target.value, resetForm)">
      <div class="invalid-input" *ngIf="confirmPassword.invalid && (confirmPassword.touched)">
        <span *ngIf="confirmPassword.errors.required" style="color: red;"  >
          This field is required.
        </span>
      </div>
      <div class="invalid-input" *ngIf="pw">
        <span style="color: red;" >
          New password and confirm password are not equal.
        </span>
      </div>
    </div>
    <div class="button-area">
      <button class="btn btn-primary" [disabled]="!resetForm.valid || alertDanger || pw" type="submit">Reset</button>
    </div>
  </form>
</div>
