.form-group {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
}

.container {
    
    background-color: white;
    border-radius: 10px;
    
    width: 90%;
    font-size: 14px;
}

.container h2 {
    font-weight: bold;
    margin: 0 0 30px 0;
}

input, select, #description {
    border: none;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 6px 30px;
}

label {
    position: absolute;
    left: -10px;
    top: 7px;
    margin: 0 10px;
}

label .material-icons {
    font-size: 26px;
    top: 15%;
}
.group .material-icons{
    font-size: 26px;
    top: 15%;
}
.alert-div {
    position: relative;
    top: -22px;
    font-size: 12px;
    color: rgba(241, 66, 43, 0.87);
}
.group {
    display: flex;
    align-items: center;
    /* margin: 10px 0; */
}
.group p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
button {
    color: #6dabe4;
    color: white;
    padding: 15px 39px;
}

button:disabled {
    cursor: not-allowed;
    opacity: .5;
}
#mob{
    margin-left: -30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 992px) {
    /* #mob{
        margin-left: 12px;
    } */
    .container{
        width: 100%;
    }

}
