<section class="sign-in d-flex align-items-center">
      <div class="box shadoww"   >
          <div class="forgot-password">
          
            <div class="ver-body">
              <h5 >Forgot password?</h5>
              <p >No worries! Just enter your email and we'll send you a reset password link.</p>
              
              <form (ngSubmit)="onSubmit(resetForm)" #resetForm='ngForm'>
                <div class="form-area" >
                  <div class="form-group">
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email" #email="ngModel" ngModel
                      required  >
                    <div class="invalid-input" *ngIf="email.invalid && email.touched">
                      <span *ngIf="email.errors.required" style="color: red">
                        This field is required.
                      </span>
                      <span *ngIf="email.errors.email">
                        Enter valid email.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="button-area">
                  <button class="btn btn-primary"  [disabled]="!resetForm.valid" type="submit">Send reset link</button>
                  </div>
              </form>
            </div>
          </div>
      </div>
</section>

